#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: https://rest-api.appgyver.com/v1/

traits:
  - securedBySteroidsApiKey:
      headers:
        steroidsApiKey:
          type: string
          example: exampleapikey
          default: b880c2b0fa7509e2c541f62df0befef1145ac5bb0b021d85b9cd0d2f375abaef
        steroidsAppId:
          type: integer
          example: 1234
          default: 35641


resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>> # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName | !singularize>>
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName | !singularize>> # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>> # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName | !singularize>>
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:
      


/Beer:
  description: |
    {
      "resourceName": "Beer",
      "identifierKey": "id"
    }
  post:
    is: [ securedBySteroidsApiKey ]
    description: |
      {
        "action": "create"
      }
  
    responses:
      200:
        description: |
          {
          }
  
        body:
          application/json:
            schema: |
              {"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Beer representation","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"abv":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"brewery":{"type":"object"}},"required":[]}
  

  /.json:
    get:
      is: [ securedBySteroidsApiKey ]
      description: |
        {
          "action": "collection"
        }
    
      responses:
        200:
          description: |
            {
              "rootKey": "beers"
            }
    
          body:
            application/json:
              schema: |
                {"$schema":"http://json-schema.org/schema","title":"Beer collection","type":"object","properties":{"beers":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Beer representation","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"abv":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"brewery":{"type":"object"}},"required":[]}}}}
    

  /{id}:
    get:
      is: [ securedBySteroidsApiKey ]
      description: |
        {
          "action": "find"
        }
    
      responses:
        200:
          description: |
            {
            }
    
          body:
            application/json:
              schema: |
                {"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Beer representation","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"abv":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"brewery":{"type":"object"}},"required":[]}
    
    put:
      is: [ securedBySteroidsApiKey ]
      description: |
        {
          "action": "update"
        }
    
      responses:
        200:
          description: |
            {
            }
    
          body:
            application/json:
              schema: |
                {"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Beer representation","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"abv":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"brewery":{"type":"object"}},"required":[]}
    
    delete:
      is: [ securedBySteroidsApiKey ]
      description: |
        {
          "action": "destroy"
        }
    
      responses:
        200:


