<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">id</span>
    <input type="text" ng-model="beer['id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="beer['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">description</span>
    <input type="text" ng-model="beer['description']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">abv</span>
    <input type="text" ng-model="beer['abv']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="beer['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="beer['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">brewery</span>
    <input type="text" ng-model="beer['brewery']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
